* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.title {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

.post {
  padding: 10px;
  border: 2px solid lightblue;
  margin: 20px 0;
  border-radius: 10px;
}

.post__title {
  font-size: 22px;
}

.post__body {
  font-size: 18px;
}

.posts__btn {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.btn {
  background: lightblue;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  transition: all 0.1s;
}
.btn:hover {
  background: rgb(151, 192, 206);
}
.btn:active {
  transform: scale(0.9);
}
